streamlit==0.89.0
pandas==1.3.3
numpy==1.17.3
protobuf==3.20.*
Altair==4.1.0
from pandas.util.testing import assert_frame_equal  #This has to be imported to run the database/logics&queries unit testing
